.Home {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
   
}

/* .home-container {
    display: flex;
    justify-content: space-evenly;
} */
.home-inner-container {
    width: 200px;
    border: 2px solid teal;
    /* padding: 50px; */
    margin: 20px;
    color: #08756E;
    text-decoration: none;
}

.home-inner-container:hover{
    text-decoration: none !important;
    color:#08756E;
}