.ChatCenter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;



}

.chatRow {
    padding: 5px;
    border-bottom: 1px solid grey;
    width: 70vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.chatPicture {
    margin-right: 4px;
    width:30px;
    height: 30px;
    border-radius: 50%;
}

.inboxName {
    font-size: 1em;
    margin-right: 20px;
   
}

.inboxMessage {
    font-size: .8em;
}

.inboxMessageNew {
    font-weight: bold;
}