.App {
  text-align: center;
}
.menu {
  /* background-color: teal; */
  list-style: none;
  display: none;
}
.show {
  margin-top: -20px;
  display: block;
  height: 140px;
}
.fa {
  margin-left: -315px;
}
