.App {
  text-align: center;
  height: 100vh;
}

.container {
  padding: 0;
}

Input {
  /* border-bottom: #111ba7 solid 1px; */
  height: 1.9em;
  margin: 0;
  position: relative;
    top: 4px;

}

Button {
  padding: 10px 25px;
  margin: 5px;
    cursor: pointer;
    background: #08756E;
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 4px;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

Button:hover {
    padding: 10px 25px;
    margin: 5px;
    cursor: pointer;
    background: #fff;
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 4px;
    color: #08756E;
    transition: all 0.5s ease-in-out;
}

Link:hover {
  text-decoration: none;
  color: none;
}
.menu {
  /* background-color: teal; */
  list-style: none;
  display: none;
}


.dead-link {
  width: 100%;
  text-decoration: none !important;
  color: black;
}
.dead-link * {
  text-decoration: none !important;
  color: black;
}
.dead-link *:hover {
  text-decoration: none !important;
  color: black;
}

h1 {
  word-wrap: normal;
  color: #11A79D;
  
  font-family: 'Fresca', sans-serif;
}
p h2 h3 h4 h5 {
  font-family: 'Didact Gothic', sans-serif;
}
span {
  font-family: 'Didact Gothic', sans-serif;
}

.container {
  margin-top: 20px;
  background-color: white;
  min-height: 90vh;
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-button {
  background-color: #08756E;
  width: 80%;
  max-width: 200px;
  color: white;
  /* border-radius: 10px; */
}

.input {
  width: 90%;
}

.search-list {
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  margin: 5px;
  border-radius: 20px;
  
  display: flex;
  /* margin: 8px; */
}

.mappedProviders {
  /* background-color: grey; */
}

.list-name {
  font-size: 1.4em;
  color: #A53722;
}

.chat {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid rgba(0,0,0,.125);

}



.chatDisplay {
  height: 70vh;
  overflow-y: scroll;
}

.chatName {
  display: flex;
  font-size: .75em;
  overflow: hidden;
  justify-content: left;
  color: #08756E;
  margin: 5px 8px;

}

.chatMessage {

}

.sendMessageButton {
  background-color: #08756E;
  color: white;

}

.OwnerProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.OwnerProfilePlaceholder {
  font-size: .5em;
  color: #08756E;
  width: 10vw;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.ProviderProfilePlaceholder {
  font-size: .9em;
  color: #08756E;
  font-family: 'Fresca', sans-serif;
}

.OwnerProfileImage {
  justify-content: center;
  display: inline-block;
    height: 10vh;
    width: 10vh;
    object-fit: cover;
    border-radius: 50%;
    
}

.ImageUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.Dogs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;

}

#DogBackground {
  background-color: rgba(238, 238, 238, 0.6) !important;
background-blend-mode: screen;
background-size: contain;
background-size: cover;
height: 400px;
overflow: scroll;
border-radius: 20px;
  
}

.dogList {
  /* opacity: .9; */
  z-index: 100;
  padding: 20px;
}

.OwnerProfileDogListEdit {
  font-size: .75em;
  padding: 3px;
  background: white;
  background-color: rgba(238, 238, 238, 0.0) !important;
background-blend-mode: screen;
  /* opacity: .2; */
  color: black;
  border: 0px solid;
}

.row {
  display: flex;
  justify-content: center;
}

.OwnerProfileDogList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: .5em;
    color: #08756E;
    width: 10vw;
}


.OwnerProfileDogText {
  display: flex;
  justify-content: flex-start;
}

.OwnerProfileDogImage {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}

.contactInput {
  width: 50vw;
}

.ContactConcern {
  width: 90%;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

#backButton {
  color: #08756E;
  border: 0;
  display: flex;
  padding-top: 10px;
  font-size: 1em;
  justify-content: space-between;
  background: white;
}

.messageCount {
  color: white;
  text-decoration: none;
  /* margin: 3px; */
}
.messageCount:hover {
  color: white;
  text-decoration: none;
  /* margin: 3px; */
}

.header {
  display: flex;
  padding-top: 10px;
  padding: 0 10px;
  font-size: 1em;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #08756E;
  color: white;
}

.logo {
  max-width: 40vw;
  height: auto;    
}

.messageBubble {
  /* position: absolute;
  right: 10px;
  font-size: 1.5em; */
}

a:hover {
  text-decoration: none;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#call {
  background-color: green;
  margin: 0 10px;
}

#answer {
  background-color: green;
  margin: 0 10px;
}

#endCall {
  background-color: red;
  margin: 0 10px;
}

.videoButton {
  color: white;
}

.onWalk {
  border: 1px solid grey;
  padding: 20px;
}

.videoScreen {
  /* background: pink; */
  position: relative;
}

.selfCam {
  /* background:blue; */
  height: 300px;
  width: 10%;
  position: absolute;
  bottom: 30px;
}

.editButtons {
  margin: 30px;
}







