.App {
  text-align: center;
}
.menu {
  /* background-color: teal; */
  list-style: none;
  display: none;
}
.show {
  margin-top: -20px;
  display: block;
  height: 140px;
}
.fa {
  margin-left: -315px;
}

.dead-link {
  text-decoration: none !important;
  color: black;
}
.dead-link * {
  text-decoration: none !important;
  color: black;
}
.dead-link *:hover {
  text-decoration: none !important;
  color: black;
}
